body {
    margin: 0px;
    background-color: #E2DED0;
}

 /* Navigation Bar */ 
.Navigation {
    background-color: #4E4F50;
    color: #E2DED0;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    font-size:larger;
    position: fixed;
}

.Navigation > a {
    color: #E2DED0;
}

.Navigation > * {
    margin: 10px;
}

 /* Main Content Container */ 
.Main_Content > div {
    padding-left: 10px ;
}

/* Self Description */
.Self_Description {
    display: inline-block;
    width: 100%;
    justify-content: left;
    padding-top: 50px;
}

.Self_Description_Image > img {
    height: 200px;
    border-radius: 50%;
    padding-right: 10px;
    float: left;
}

/* Education */
.Education {
    display: block;
    text-align: left;
}

/* Work Experience */
.Work_Experience {
    display: block;
    text-align: left;
}

.Work_Experience > ul {
    list-style-position: inside;
}

span.Pipe {
    font-weight: bolder;
}


/* Soft Skills */
.Soft_Skills {
    display: block;
}

.Soft_Skills > h2 {
    margin-bottom: 0px;
}

.Soft_Skills_C1 {
    display: inline-block;
}

.Soft_Skills_C2 {
    display: inline-block;
}

.Soft_Skills_C3 {
    display: inline-block;
}

.Soft_Skills_C4 {
    display: inline-block; 
}

.Hidden_Bullet {
    opacity: 0%;
}

/* Familiar With | HARDWARE */
 
.Hardware { 
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 10px;
}



.Hardware > h3 {
    flex-basis: 100%;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}

.Hardware h4 {
    width: 250px;
}

.Hardware ul {
    width: 250px;
}

/* Familiar With | SOFTWARE */


/* Footer */
.Footer > p {
    text-align: center;
    margin: 0px;
    padding-bottom: 0px;
    background-color: #4E4F50;
    color: #E2DED0;
}
